*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#sidebar {
    height: 1000px;
}

.sidebar-content, .feature-card-content {
    padding: 15px;
}


/*home styles*/
#home-banner {
    height: 200px;
    padding: 20px;
    text-align: center; 
}
#home-banner {
    margin: 0;
}
#home-body {
    padding: 30px;
}

/* map styles*/
#grid-container {
    overflow: scroll;
    padding: 30px;
}

#grid {
    height: 601px;
    background-size: 30px 30px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    width: 150%;            
}

#grid-snap {
    width: 30px;
    font-size: 1.2em;
    cursor: crosshair;
}

.character-image {
    height: 30px; 
    width: 30px;
}

#dice-number, #dice-modifier{
    width:100px;
}

.dice-bag > input {
    margin: 5px 0;
}

#recent-rolls {
    border: 1px solid black;
    padding: 3px;
}