<div class="w3-row" id="divmap-content">
    <div id="map-container" class="w3-col m12 l12">
        <div ng-show="rendering" id="render-screen" ng-style="{height: mapHeight}">
            <h2>rendering...</h2>
            <br><br>
            <img src="images/giphy.gif">
        </div>
        <div id="divmap" ng-style="{width: mapWidth}">
            <div ng-hide="rendering">
                <div ng-repeat="cell in cellsArray track by $index" class="cell" ng-style="{'background-color': cell.background}"></div>
            </div>
        </div>
    </div>
</div>
<div class="w3-row" id="map-size">
    <h2>Select Map Size</h2>
    <div>
        <label for="height">Height</label><br>
        <input type="number" name="height" ng-model="mapDivHeight" ng-change="createMap()">
    </div>
    <div>
        <label for="width">Width</label><br>
        <input type="number" name="width" ng-model="mapDivWidth" ng-change="createMap()">
    </div>
</div>