<div class="" id="grid-container">
    <div id="grid" draggable="true">
        <div id="grid-snap">
            <img src="http://charactersheets.minotaur.cc/images/single.png" alt="" class="character-image">
        </div>
        <div id="grid-snap">
            <img src="http://charactersheets.minotaur.cc/images/single.png" alt="" class="character-image">
        </div>
        <div id="grid-snap">
            <img src="http://charactersheets.minotaur.cc/images/single.png" alt="" class="character-image">
        </div>
    </div>
</div>