<header id="home-banner" class="w3-indigo">
    <h1>Browse Lobbies</h1>
</header>
<div class="main-content">
    <div class="w3-row">
        <div class="w3-container">
            <button class="w3-btn w3-blue-grey" onclick="document.getElementById('create-campaign-modal').style.display='block'">Create New Campaign</button>
        </div>
    </div>
    <br><br>
    <div class="w3-row">
        <div class="w3-container">
            <h2>Search Campaigns</h2>
            <p>Find your friends or join an open campaign!</p>

            <table class="w3-table w3-striped w3-bordered w3-card-4">
                <thead>
                    <tr class="w3-teal">
                        <th>Campaign Name</th>
                        <th>DM Name</th>
                        <th>
                            Search: <input type="text" ng-model="campaignSearchTerm">&nbsp Show: <select ng-model="pageSize"
                                id="pageSize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="campaign in allCampaigns | filter: campaignSearchTerm | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>{{campaign.name}}</td>
                    <td>{{campaign.DM}}</td>
                    <td>
                        <a ui-sref="campaignLobby({campaignId: getCampaignKey(campaign)})">Join</a></td>
                </tr>
            </table>
            <br>
            <button class="w3-btn w3-blue-grey" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button> {{currentPage+1}}/{{numberOfPages()}}
            <button class="w3-btn w3-blue-grey" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>


<!-- create campaign modal -->
<div id="create-campaign-modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-teal">
            <span onclick="document.getElementById('create-campaign-modal').style.display='none'" class="w3-closebtn">&times;</span>
            <h2>Create a New Campaign</h2>
        </header>
        <div class="w3-container" style="padding: 15px;">
            <label for="new-campaign-name">Campaign Name: </label>
            <input type="text" ng-model="newCampaign.name" name="new-campaign-name">
            <hr class="w3-blue-grey">

            <strong>Maps to include (you can add more later)</strong>
            <br>
            <br>
            <div ng-repeat="map in savedMaps | filter: user.user.displayName">
                <input type="checkbox" ng-model="map.selected"> <strong>{{map.name}}</strong>
            </div>

            <br>
            <hr class="w3-blue-grey">
            <button class="w3-btn w3-indigo" ng-click="createNewCampaign(newCampaign)">Create!</button>

        </div>
        <footer class="w3-container w3-green" ng-show="newCampaignRef">
            <h3>Success!</h3>
            <p>Campaign was created with an ID of "{{newCampaignRef.$$state.value}}"</p>
        </footer>
    </div>
</div>